@mixin display {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin align {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin cardSize {
    width: 30%;
    height: 50%;
}

@mixin infoList {
    color: #a8aeae;
    font-size: 13px;
}